<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License

Name       : FruityBlue 
Description: A two-column, fixed-width design with dark color scheme.
Version    : 1.0
Released   : 20120307

-->
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta name="keywords" content="" />
<meta name="description" content="" />
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>CIŚ MultiNest Webservice</title>
<link href="{{ url_for('static', filename='jquery-ui.css') }}"
    rel="stylesheet" type="text/css" />
<!-- Narrow CSS for small screens -->
<link href="{{ url_for('static', filename='narrow-style.css') }}"
    rel="stylesheet" type="text/css" media="screen and (max-width: 900px)" />
<!-- Standard CSS for large screens -->
<link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet"
    type="text/css" media="screen and (min-width: 901px)" />
<!-- Refresh the status every 30 scenods for browser without javascript -->
<noscript>
    <meta http-equiv="Refresh" id="refresh" content="30"/>
</noscript>
<!-- Store document root for javascript to utilise -->
<script type=text/javascript>
  $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
</script>
</head>
<!-- Templates that extend this can specify CSS class of body element. This is
used to indicate in the menu which page is currently displayed. -->
<body class="{% block bodyclass %}{% endblock %}">
<div id="wrapper">
    <!-- Splash on top of the page with CIS logo -->
    <div id="splash"><a href="http://www.cis.gov.pl">
            <img alt="CIŚ" src="{{ url_for('static', filename='CIS.jpg') }}">
    </a></div>
    <div id="wrapper2">
        <!-- Header with MultiNest logo and menu -->
		<div id="header" class="container">
            <div id="logo">
                <h1><a href="{{ url_for('index') }}">MultiNest</a></h1>
            </div>
			<div id="menu">
				<ul>
                    <li id="nav-index"><a href="{{ url_for('index') }}">Opis</a></li>
                    <li id="nav-submit"><a href="{{ url_for('submit') }}">Dane wejściowe</a></li>
                    <li id="nav-monitor"><a href="{{ url_for('monitor') }}">Monitor obliczeń</a></li>
                    <li id="nav-output"><a href="{{ url_for('output') }}">Wyniki</a></li>
				</ul>
            </div>
		</div>
		<!-- end #header -->
		<div id="page">
            <div id="sidebar">
                <h2>Status Aplikacji <a id="killer" class="button" href="{{ url_for('kill') }}">Zatrzymaj</a>
</h2>
                <!-- Status boxes: first with status type, second with status message -->
                <div id="status" class={{state.type}}>{{state.desc}}</div>
                <div id="messages" class={{state.type}}>{{state.msg}}</div>
<!-- Flash messege boxes for: errors and info messages -->
{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    <ul class=flashes>
    {% for category, message in messages %}
    <!-- Flash category corresponds to CSS classes -->
    <li class="{{ category }}">{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
  {% endwith %}
<!-- End flash boxes -->
            </div>
			<!-- end #sidebar -->
            <div id="content">
<!-- Child templates should fill this one -->
{% block content %}
{% endblock %}
			</div>
            <!-- end #content -->
            <!-- Clear floats for the footer -->
			<div style="clear: both;">&nbsp;</div>
		</div>
		<!-- end #page -->
	</div>
</div>
<div id="footer-content">
	<div id="footer">
    <div id="footer_line"></div>
    <!-- Floating EU logos -->
    <img height="109px" src="{{ url_for('static', filename='unia-left.jpg') }}" class="lefty"/>
    <div class="filler">&nbsp;</div>
    <img height="109px" src="{{ url_for('static', filename='unia-right.jpg') }}" class="righty"/>
    <div style="clear: both;">&nbsp;</div>
    <p> Projekt wspófinansowany ze środków Europejskiego Funduszu Rozwoju Regionalnego<br> w ramach Programu Operacyjnego Innowacyjna Gospodarka </p>
    <p>Design by <a href="http://www.freecsstemplates.org">FCT</a> & <a href="http://www.cis.gov.pl">CIŚ</a>.</p>
</div>
</div>
<div id="kill_dialog" title="Zatrzymaj obliczenia?">
    <p>
        <span class="ui-icon ui-icon-alert" style="float: left; margin: 0 7px 20px 0;"></span>
        Aktualne zadanie zostanie zatrzymane.
    </p>
</div>
<!-- end #footer -->
<!-- jQuery -->
<script type=text/javascript src="{{
    url_for('static', filename='jquery.js') }}"></script>
<!-- Our custom status update js -->
<script type=text/javascript src="{{
    url_for('static', filename='update_status.js') }}"></script>
<!-- jQuery-UI for tabbed interfaces -->
<script type=text/javascript src="{{
  url_for('static', filename='jquery-ui.js') }}"></script>
<!-- FirebugLite console.log -->
<!--
<script type="text/javascript" src="https://getfirebug.com/firebug-lite.js#startOpened"></script>
-->
<!-- Child templates can add their own scripts -->
{% block scripts %}
{% endblock %}
</body>
</html>
