{% extends "layout.html" %}
{% block bodyclass %}submit{% endblock %}
{% block content %}
<div class="post">
    <h2 class="title">Dane wejściowe</h2>
    <div style="clear: both;">&nbsp;</div>
    <div class="entry">
        <form action="" method="post" name="function">
            {{form.hidden_tag()}}
            <div id="tabs">
            <ul>
                <li><a href="#tabs-1">Parametry Symulacji</a></li>
                <li><a href="#tabs-2">Predefiniowany problem</a></li>
                <li><a href="#tabs-3">Parametry MultiNest</a></li>
            </ul>
            <div id="tabs-1">
                <div style="clear: both;">&nbsp;</div>
                <p>
                Rozmiar przestrzeni:<br/>
                {{form.xsize.label}}: {{form.xsize}}
                {% for error in form.errors.xsize %}
                <span style="color: red;">[{{error}}]</span>
                {% endfor %}
                <br/>
                {{form.ysize.label}}: {{form.ysize}}
                {% for error in form.errors.ysize %}
                <span style="color: red;">[{{error}}]</span>
                {% endfor %}
                <br/>
                Liczba maksimów:<br/>
                {{form.nodes_min.label}}: {{form.nodes_min}}
                {% for error in form.errors.nodes_min %}
                <span style="color: red;">[{{error}}]</span>
                {% endfor %}
                <br/>
                {{form.nodes_max.label}}: {{form.nodes_max}}
                {% for error in form.errors.nodes_max %}
                <span style="color: red;">[{{error}}]</span>
                {% endfor %}
                <br/>
                Szerokość maksimów:<br/>
                {{form.sigma_min.label}}: {{form.sigma_min}}
                {% for error in form.errors.sigma_min %}
                <span style="color: red;">[{{error}}]</span>
                {% endfor %}
                <br/>
                {{form.sigma_max.label}}: {{form.sigma_max}}
                {% for error in form.errors.sigma_max %}
                <span style="color: red;">[{{error}}]</span>
                {% endfor %}
                </p>
            </div>
            <div id="tabs-2">
                <div style="clear: both;">&nbsp;</div>
                <p>
                {{form.use_sets}} {{form.use_sets.label}}
                </p>
                <p>
                {{form.sets()}}
                </p>
                <p>
                <em>Użytkownik definiuje maksima jako listę parametrów postaci:</br>
                    [ [x1, y1, sigma_x1, sigma_y1], [x2, y2, sigma_x2, sigma_y2], ... ]</em>
                </br>
                {{form.user_set(cols="65", rows="4")|safe}}
                </p>
            </div>
            <div id="tabs-3">
                <div style="clear: both;">&nbsp;</div>
                <p>
                {{form.n_live_points.label}}: {{form.n_live_points}}
                {% for error in form.errors.n_live_points %}
                <span style="color: red;">[{{error}}]</span>
                {% endfor %}
                <br/>
                {{form.max_modes.label}}: {{form.max_modes}}
                {% for error in form.errors.max_modes %}
                <span style="color: red;">[{{error}}]</span>
                {% endfor %}
                <br/>
                {{form.sampling_efficiency.label}}: {{form.sampling_efficiency}}
                {% for error in form.errors.sampling_efficiency %}
                <span style="color: red;">[{{error}}]</span>
                {% endfor %}
                <br/>
                {{form.evidence_tolerance.label}}: {{form.evidence_tolerance}}
                {% for error in form.errors.evidence_tolerance %}
                <span style="color: red;">[{{error}}]</span>
                {% endfor %}
                </p>
            </div>
            </div>
            <p><input type="submit" value="Wyślij"></p>
        </form>
    </div>
</div>
<!--
<div style="post_line"></div>
-->
{% endblock %}
{% block scripts %}
<script>
    $(function() {
        $( "#tabs" ).tabs();
    });
</script>
{% endblock %}
